<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "dtd/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="FileTxtAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="log/log.txt" />

		<param name="Append" value="true" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c] %m%n" />
		</layout>
	</appender>

	<appender name="console_log_print" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m" />
		</layout>
	</appender>

	<appender name="console_log_println" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<logger name="by.epam.spring.hometask.view.ViewPerformer"
		additivity="false">
		<level value="info" />
		<appender-ref ref="console_log_println" />
	</logger>

	<logger name="by.epam.spring.hometask.view.util.PrinterHelper"
			additivity="false">
		<level value="info" />
		<appender-ref ref="console_log_print" />
	</logger>

	<root>
		<priority value="debug" />
		<appender-ref ref="FileTxtAppender" />
	</root>

</log4j:configuration>